/* Portrait and Landscape */

@media only screen 

 and (min-width: 320px) 

  and (max-width: 1023px)  {
 .btn{height: 50px;}
.topLinks{display: none;}
.logoWrapper{padding-top: 10px;}
.logoWrapper img{max-width: 51.84%;}
      .banner-slide{position: relative; width:20px;height: 20px;padding: 20px 20px 20px 20px;border-style:hidden; display: inline-block;font-size: 20px;}

.bg-img{display: none;}
.webDevelopmentSection .rightSection{display: none;}
.mobileDevelopmentSection .rightSection{width: 100%;display: none;}
.quoteImage{display: none;}
.footerRightWrapper{display: none;}
      .topSection{margin-bottom:10px;}
      
}
/*----------------------------------------------------------------*/
@media only screen 

 and (min-width: 768px) 

  and (max-width: 991px)  {

     

      /*---- COMMON CSS SECTION STARTS ----*/
    h1{font-size:4em;line-height:40px;font-weight:400;letter-spacing:0.4px;top:0;color: #000000;}

h2{font-size:3em;line-height:46px;letter-spacing:0.8px;margin:40px 0 40px 0;}

h3{font-size:3em;line-height:30px;letter-spacing:0.8px;margin-bottom:31px;}

p{font-size:1.6em;line-height:22px;margin-bottom:35px;}

p.bigFont{font-size:1.4em;line-height:22px;}

/* .btn{height: 50px;}*/

      /*-------COMMON CSS SECTION ENDS -----*/

 p{font-size:1.4em;line-height:22px;margin-bottom:35px;}

     

      .container-fluid{max-width: 728px;}

      /*Header Section starts */
      .headerMainWrapper{background-color: #ffffff;margin-bottom: 60px;}
      .menu{display: block;margin-top: 20px;font-size:3.20em;}
     /* .topLinks ul li{padding:59px 20px 29px 20px;text-align:center;float: left;}*/
      


/*.topSection{margin-bottom:11px;}*/

/*.logoWrapper{padding-top: 10px;}*/
      .logoWrapper img{max-width: 51.84%;}
     /* .topLinks{display: none;} */
.bannerSection .leftWrapper{margin-top: 124px;width:50%;}
.bannerSection .rightWrapper{width:50%;}
.banner p{bottom: 21px;right:189px;font-size: 1.6em;}
/*.banner-slide{width:20px;height: 20px;padding: 20px 20px 20px 20px;border-style:hidden; display: inline-block;font-size: 20px;}*/
.banner-slide:nth-child(2){top: 280px;left:-70px;}
.banner-slide:nth-child(3){top: 350px;left:-70px;}
.banner-slide:nth-child(4){top: 350px;left:0px;}
      .banner .svg{display: block;right:326px;bottom: 19px;}
/*.bg-img{display: none;} */
.beliefSection{position:relative;margin-top: 20px;top: 0px;}

      /*Header section CSS Ends */

      /*Content CSS starts */
.contentMainWrapper{margin-top: 60px;}
        .serviceContentSection{margin-top: 60px;width:45.536%;}
      .serviceContentSection:nth-child(2n-1){margin-right: 8.93%;}
      
      .slide{ width:14px;height: 14px;padding:13px;margin: 10px 10px 10px 0px;background-color: #f2f2f2; border-style:hidden;display: inline-block; }
        .serviceContentSection .serviceContent{width: 100%;margin-top: 0px;text-align: left;}
      .serviceImage{width: 100%;padding: 0px 0px 15px 0px ;margin-top: 0px;}
     /* .leftSection{width: 100%;} */
    .uxDesignSection .serviceImage h3,.blockChainSection .serviceImage h3{display:block;}
      .uxDesignSection .ServiceContent h3,.blockChainSection .serviceContent h3{display:none;}
     
      .webDevelopmentSection .leftSection h3{display: block;text-align: left;}
     /* .webDevelopmentSection .serviceContent{width: 100%;margin-top: 0px;text-align: left;} */
     /* .webDevelopmentSection .serviceImage{ padding: 0px 0px 15px 0px ;width: 100%} */
      .webDevelopmentSection .leftSection .serviceImage{display: block;width: 100%;padding-bottom: 31px;}
     /*.leftSection h3{display: block;text-align: left;}
      .rightSection{width: 100%;text-align: left;} */ 
      
      /*.webDevelopmentSection .rightSection{display: none;}*/
      /*.rightSection h3{display: none;} */
     
      .uxDesignSection .ServiceImage{padding: 0px 0px 15px 0px;width: 100%;}
      .mobileDevelopmentSection .serviceImage{padding: 0px 0px 15px 0px;width: 100%;}
      .mobileDevelopmentSection .LeftSection{width: 100%;}
      .mobileDevelopmentSection .LeftSection .ServiceImage{display: block;}
/*.mobileDevelopmentSection .rightSection{width: 100%;display: none;}*/
      .serviceWrapper{font-size: 14px;width: 50%;float: left;}
.leftSection .serviceTypes .serviceWrapper .text{right:0px;left:60px;}
      .serviceWrapper .text{bottom: 15px;}
      /*--------------------Portfolio section--------------------------------*/

      .portfolioList{width:84.92%;}
      .portFolioSection{margin: 60px 0px 0px 0px;}
      .portFolioSection .leftWrapper{ width: 45.536%;}
.portfolio-item{width:100%;float: left;border:1px solid;height: 368px;}
  .portFolioSection .rightWrapper{ width: 45.536%; margin-left: 8.93%;}
      .downloadButton{padding: 40px 0px 40px 0px;}
/*--------------------------------ClientSaySection-------------------------------*/
      .clientSaySection{margin: 60px 0px 60px;}
      .clientSaySection .container-fluid{border: 1px solid #f5f5f5;}
      .clientSaySection h3{margin: 40px 0px 40px 20px;padding: 0px;}
      .clientSayList{padding: 0px 0px 20px 20px;margin: 0px;}
      .clientSayItem .leftWrapper{width: 28.25%;}
      .clientSayItem .rightWrapper{width: 54.803%;margin-left: 20px;}
      /*.quoteImage{display: none;}*/
      .clientSayContent{margin: 0px;padding:0px;border: none;width: 100%;float: left;}
      .clientRating{margin-top: 20px;}
      .clientName{font-size: 2em;margin-top: 21px;width: 100%;}
      .clientReview{margin-top: 20px;}
    /*-----------------------------footer----------------------------------*/

      .contactUsSection{ margin-top: 41px;}

      .contactUsFormWrapper{margin: 5px 0 40px 0;}

      .footerLeftWrapper{width:100%; float: left;}

      .inputHalfWidthSection{width:48.618%; float: left;padding-bottom: 20px;}

      input[type="text"],input[type="email"],input[type="tel"],textarea{float:left;font-size: 1rem;padding: 20px 0 19px 22px; width: 100%;}

       textarea{ width: 70.441%; max-height: 50px; }

       .formButtonHolder{ width: 26.794%;margin-left: 20px;}  

      /*.footerRightWrapper{display: none;} */

      .footerRightWrapper-tab{display: block;margin-top: 40px;}

      .socialInfoSection{ max-width: 240px; margin: 0 auto;float: none;}
      .socialMediaIcons{width:100%}
      .socialMediaIcons .iconsRow{margin:0px}
      
    .mail{float: left; font-size: 16px;line-height: 1.125;letter-spacing: 0.8px;margin: 20px 0 39px 0 ;text-align:center; width:100%;}

  #mail{ max-width: 88.889%;margin: 0 70px 0 70px; }

         
     .copyRightsText{width: 100%;text-align:center;float: left;margin-top:40px;margin-bottom: 0px;color: #898989;font-size: 14px;} 
      .icon:nth-child(2n){margin-right:5%;margin-left: 5%;margin-bottom: 0px;}
      .icon:nth-child(2n-1){margin: 0px;}
 
      .clientSayList.slick-slider .slick-prev { bottom: 50px;right:0px;}
 .clientSayList.slick-slider .slick-next {bottom:0px;right: 0px;}

}
@media only screen 

 and (min-width: 320px) 

    and (max-width: 767px){
        
         /*---- COMMON CSS SECTION STARTS ----*/
        .container-fluid{width:300px;}
            h1{font-size:3em;line-height:30px;letter-spacing:0.3px;top:0;color: #555555;}
       
        h1,h2,h3{text-align: center;font-size: 30px;}
        h2,h3{margin-bottom: 30px;}
        /*-------COMMON CSS SECTION ENDS -----*/    
        /*----------HEADER SECTION CSS STARTS-------------*/
        .headerMainWrapper{background-color: #ffffff;margin-bottom: 57px;}
        .menu{display: block;margin-top: 10px;font-size:2.80em;}
        .bannerSection .leftWrapper{margin-top: 60px;width:100%;text-align: center;}
      .bannerSection .rightWrapper{width:100%;}
        .banner p{bottom: 11px;right:76px;font-size: 1.6em;}
        .banner-slide:nth-child(2){top: 0;left:0;}
.banner-slide:nth-child(3){top: 0;left:0;}
.banner-slide:nth-child(4){top: 0;left:0px;}
        

        
        /*-----------HEADER SECTION CSS ENDS----------------*/
        /*-----------CONTENT SECTION CSS STARTS-----------------*/
        .aboutUsSection{text-align: center;}
        .serviceContentSection{margin-top: 60px;width:100%;text-align: center;}
        .serviceContentSection .leftSection{width: 100%;text-align: center;}
        .serviceContentSection .rightSection{width: 100%;text-align: center;}
         .serviceWrapper{font-size: 14px;width: 50%;float: left;}
          /*--------------------Portfolio section--------------------------------*/

      .portfolioList{width:84.92%;}
      .portFolioSection{margin: 60px 0px 0px 0px;padding: 40px 0px 0px 0px;}
      .portFolioSection .leftWrapper{ width: 100%;padding: 30px 0px 30px 0px;}
  .portFolioSection .rightWrapper{ width: 100%;margin: 0 auto;}
        .portfolio-item{width:100%;float: left;border:1px solid;height: 368px;}
        .btn{padding:0px 37px 0px 37px;}
      .downloadButton{padding: 30px 0px 40px 0px;}
        p.bigFont{font-size:1.4em;line-height:22px;text-align: center;}
        .serviceWrapper{font-size: 14px;width: 50%;float: left;}
        .slide{ max-width:40px;max-height: 40px;padding: 12px 12px 14px 14px;margin: 10px 10px 10px 0px;background-color: #f2f2f2; border-style:hidden;float: left}
.leftSection .serviceTypes .serviceWrapper .text{left: 50px;right: 0px;}
        
.leftSection .serviceTypes .serviceWrapper .slide{float: left;margin: 10px 10px 10px 0px;}

      .serviceWrapper .text{bottom: 15px;left: 10px;right: 0;}
        .serviceTypes{float: left;}
        
        
        
        /*----------------FooterSection------------------------------------------------*/
        .inputHalfWidthSection{width:100%; float: left;padding-bottom: 20px;}
        .footerLeftWrapper{width: 100%;}
        .footerRightWrapper-tab{display: block; width: 100%;float: left;margin-top: 40px;}
         .socialMediaIcons{width: 100%;}
         textarea{ width:100%; max-height: 50px; }
        
       .formButtonHolder{ width: 100%;margin-left: 20px;} 
}



