/* Portrait and Landscape */





@media only screen 

 and (min-width: 320px) 

  and (max-width: 1023px)  {

      /*-------------------COMMONSECTION CSS------------------------------------*/

            .btn{height: 50px;}
            .bg-img{display: none;}
            /*----------------------------------------HEADERSECTION CSS------------------------*/
            .topSection{margin-bottom:10px;}
            .topLinks{display: none;}
            .logoWrapper{padding-top: 10px;}
            .beliefSection{font-size: 1.8em;}
            .logoWrapper img{max-width: 51.84%;}
            .banner-slide{width:60px;height: 60px;font-size: 2em;}

      /*--------------------------CONTENTSECTION CSS------------------------------------------*/

            .webDevelopmentSection .rightSection{display: none;}
            .mobileDevelopmentSection .rightSection{width: 100%;display: none;}
            .mobileDevelopmentSection .LeftSection .ServiceImage{display: block;width: 100%;}
            .slide{ width:40px;height: 40px;margin: 0px 10px 10px 0px;background-color: #f2f2f2; border-style:hidden;display: flex;align-items: center;justify-content: center; }
            .serviceWrapper{font-size: 14px;width: 50%;float: left;display: flex;align-items: center;flex-direction: row;}
            .leftSection .serviceTypes .serviceWrapper{flex-direction: row;}
            .leftSection .serviceTypes .serviceWrapper .slide{margin: 0px 10px 10px 0px;}
            .quoteImage{display: none;}
            .clientSaySection{margin: 60px 0px 60px;}
            .clientSayContent{margin: 0px;padding:0px;border: none;width: 100%;float: left;}
            

      /*-------------------------FOOTERSECTION CSS---------------------------------------------*/

            .footerRightWrapper{display: none;}
            .footerRightWrapper-tab{display: block;margin-top: 40px;}
            .socialInfoSection{margin: 0 auto;float: none;}
            .socialMediaIcons{width:100%}
            .socialMediaIcons .iconsRow{margin:0px}
            .mail{float: left; font-size: 16px;line-height: 1.125;letter-spacing: 0.8px;margin: 20px 0 39px 0 ;text-align:center; width:100%;}
            #mail{ max-width: 88.889%;margin: 0 70px 0 70px; }
            input[type="text"],input[type="email"],input[type="tel"],textarea{float:left;font-size: 1.4em;padding: 20px 0 19px 22px; width: 100%;}
            .copyRightsText{width: 100%;text-align:center;float: left;margin-top:40px;margin-bottom: 0px;color: #898989;font-size: 14px;} 
            .icon:nth-child(2n){margin-right:10px;margin-left: 10px;margin-bottom: 0px;}
            .icon:nth-child(2n-1){margin: 0px;}
      }
/*----------------------------------------------------------------*/
@media only screen and (min-width:1025px) and (max-width:1299px){
      .container-fluid{width:91%;}
      h1{font-size: 10em;top:0;line-height: 1.5em;}
      }

@media only screen and (min-width:1024px) and (max-width:1099px){
      .container-fluid{width: 87%;}
      h1{font-size: 10em;top:0;line-height: 1.5em;}
      .svgWrapper{padding-bottom: 24px;}
      .svgWrapper .svg{margin-left: 25px;}
      .slide{width: 50px;height: 50px;}
      .serviceWrapper{font-size: 14px;}
      .socialMediaIcons .icon{width: 50px;height:50px;}
}
@media only screen 

 and (min-width: 768px) 

  and (max-width: 991px)  {

     

      /*---- COMMON CSS SECTION STARTS ----*/
            .container-fluid{max-width: 94.79%;}
            h1{font-size:4em;line-height:40px;font-weight:400;letter-spacing:0.4px;top:0;color: #000000;}

            h2{font-size:3em;line-height:46px;letter-spacing:0.8px;margin:40px 0 40px 0;}

            h3{font-size:3em;line-height:30px;letter-spacing:0.8px;margin-bottom:31px;}

            p{font-size:1.6em;line-height:22px;margin-bottom:35px;}

            p.bigFont{font-size:1.4em;line-height:22px;}



            /*-------COMMON CSS SECTION ENDS -----*/

            p{font-size:1.4em;line-height:22px;margin-bottom:35px;}

      

            

            /*Header Section starts */
            .headerMainWrapper{background-color: #ffffff;margin-bottom: 60px;}
            .menu{display: block;margin-top: 20px;font-size:3.20em;}
            .logoWrapper img{max-width: 51.84%;}
            .bannerSection .leftWrapper{margin-top: 124px;width:50%;}
            .bannerSection .rightWrapper{width:50%;}
            .banner-slide{position: absolute;}
            .svgWrapper{padding-bottom: 21px;}
            .svgWrapper p{font-size: 1.6em;}
            .svgWrapper .svg{font-size: 2.6em;color: #ffffff;margin-left: 22px;}
           .banner-slide:nth-child(2){top: 280px;left:-70px;}
            .banner-slide:nth-child(3){top: 350px;left:-70px;}
            .banner-slide:nth-child(4){top: 350px;left:0px;}
            .beliefSection{position:relative;margin-top: 20px;top: 0px;}

            /*Header section CSS Ends */

            /*Content CSS starts */
            .contentMainWrapper{margin-top: 60px;}
            .serviceContentSection{margin-top: 60px;width:45.536%;}
            .serviceContentSection:nth-child(2n-1){margin-right: 8.93%;}       
            .serviceContentSection .serviceContent{width: 100%;margin-top: 0px;text-align: left;}
            .serviceImage{width: 100%;padding: 0px 0px 15px 0px ;margin-top: 0px;}
            .uxDesignSection .serviceImage h3,.blockChainSection .serviceImage h3{display:block;}
            .uxDesignSection .ServiceContent h3,.blockChainSection .serviceContent h3{display:none;}
            .webDevelopmentSection .leftSection h3{display: block;text-align: left;}
            .webDevelopmentSection .leftSection .serviceImage{display: block;width: 100%;padding-bottom: 31px;}
            .uxDesignSection .ServiceImage{padding: 0px 0px 15px 0px;width: 100%;}
            .mobileDevelopmentSection .serviceImage{padding: 0px 0px 15px 0px;      }
            .mobileDevelopmentSection .LeftSection{width: 100%;}
            .mobileDevelopmentSection .LeftSection .ServiceImage{display: block;}
            
      
            /*--------------------Portfolio section--------------------------------*/

            .portfolioList{width:84.30%;}
            .portFolioSection{margin: 60px 0px 0px 0px;}
            .portFolioSection .leftWrapper{ width: 45.536%;}
            .portfolio-item{width:100%;float: left;border:1px solid;height: 368px;}
            .portFolioSection .rightWrapper{ width: 45.536%; margin-left: 8.93%;}
            .downloadButton{padding: 40px 0px 40px 0px;}
      /*--------------------------------ClientSaySection-------------------------------*/
            
            .clientSaySection .container-fluid{border: 1px solid #f5f5f5;}
            .clientSaySection h3{margin: 40px 0px 40px 20px;padding: 0px;}
            .clientSayList{padding: 0px 0px 20px 20px;margin: 0px;}
            .clientSayItem .leftWrapper{width: 28.25%;}
            .clientSayItem .rightWrapper{width: 54.803%;margin-left: 20px;}
            .clientSayList.slick-slider .slick-prev { bottom: 50px;right:0px;}
            .clientSayList.slick-slider .slick-next {bottom:0px;right: 0px;}
            .clientRating{margin-top: 20px;}
            .clientName{font-size: 2em;margin-top: 21px;width: 100%;}
            .clientReview{margin-top: 20px;}
      /*-----------------------------footer----------------------------------*/

            .contactUsSection{ margin-top: 41px;}

            .contactUsFormWrapper{margin: 5px 0 40px 0;}

            .footerLeftWrapper{width:100%; float: left;}

            .inputHalfWidthSection{width:48.618%; float: left;padding-bottom: 20px;}

            /*input[type="text"],input[type="email"],input[type="tel"],textarea{float:left;font-size: 1rem;padding: 20px 0 19px 22px; width: 100%;} */

            textarea{ width: 70.441%; max-height: 50px;padding: 15px 0px 15px 22px; }

            .formButtonHolder{ width: 26.794%;margin-left: 20px;}  
      
            

      }     
@media only screen 

 and (min-width: 320px) 

    and (max-width: 767px){
        
         /*---- COMMON CSS SECTION STARTS ----*/
            .container-fluid{width:93.75%;}
            h1,h2,h3{text-align: center;font-size: 3em;}
            h1{line-height:30px;letter-spacing:0.3px;top:0;color: #555555;}
            h2,h3{margin:40px 0 30px 0px;}
            .bigFont p{text-align: center;font-size: 1.4em;}
            textarea{ width:100%; max-height: 50px;margin-bottom: 10px;display: flex;padding: 15px 0px 15px 22px;}
            p{font-size: 1.4em;}

        /*-------COMMON CSS SECTION ENDS -----*/    
        /*----------HEADER SECTION CSS STARTS-------------*/
            .headerMainWrapper{background-color: #ffffff;margin-bottom: 57px;}
            .menu{display: block;margin-top: 10px;font-size:2.80em;}
            .bannerSection{display: flex;flex-direction: column-reverse;}
            .bannerSection .leftWrapper{margin-top: 50px;width:100%;text-align: center;}
            .bannerSection .rightWrapper{display: none;}
            .rightWrapper-mobile{display: block;}
            .banner-slideWrapper{display: flex;justify-content: center;align-items: center;}
            .svgWrapper{padding: 0px 0px 11px 0px;}
            .svgWrapper .svg{font-size: 2.2em;margin-left: 75px;}
            .svgWrapper p{margin:0px 0px 0px 11px;font-size: 1.6em;}
            .banner-slide{position: relative;}
            .banner-slide:nth-child(2){top: 0;left:0;}
            .banner-slide:nth-child(3){top: 0;left:0;}
            .banner-slide:nth-child(4){top: 0;left:0px;}
            .beliefSection{font-size: 1.4em;letter-spacing:normal;text-align: center;position: relative;top: 0;margin-top: 17px;}

        
        /*-----------HEADER SECTION CSS ENDS----------------*/
        /*-----------CONTENT SECTION CSS STARTS-----------------*/
            .aboutUsSection{text-align: center;}
            .serviceContentSection{margin-top: 20px;width:100%;text-align: center;}
            .serviceContentSection .leftSection{width: 100%;text-align: center;}
            .serviceContentSection .serviceImage{margin-top: 0px;}
            .serviceContentSection .rightSection{width: 100%;text-align: center;}
            .serviceContentSection .serviceImage h3{display: block;}     
            .serviceContentSection .rightSection h3{display: none;}
            .uxDesignSection .serviceImage{width: 100%;padding:0%;}
            .webDevelopmentSection .leftSection .serviceImage{display: block;width: 100%;}
            .serviceWrapper{font-size: 14px;width: 50%;float: left;}
            .serviceImage{width: 100%;margin-top: 30px;padding: 0px;}
         
          /*--------------------Portfolio section--------------------------------*/

            .portfolioList{width:86.67%;margin: 0 auto;float: none;}
            .portFolioSection{margin: 60px 0px 0px 0px;padding: 0px 0px 40px 0px;}
            .portfolioInnerSection{padding:0px;}
            .portFolioSection .leftWrapper{ width: 100%;padding: 0px 0px 0px 0px;}
            .portFolioSection .rightWrapper{ width: 100%;margin: 0 auto;}
            .portfolioContent {padding-top: 0px;}
            .portfolio-item{width:100%;float: left;border:1px solid;height: 368px;}
            .portfolioList.slick-slider .slick-prev { bottom: 175px;left:-30px;width: 30px;height: 70px;}
            .portfolioList.slick-slider .slick-next { bottom: 175px;right:-30px;width: 30px;height: 70px;}
            /*.downloadButton{padding: 30px 0px 40px 0px;} */
            p.bigFont{font-size:1.4em;line-height:22px;text-align: center;}
            
        /*----------------------CLIENTSAY SECTION---------------------------------------*/
            .clientSayItem .rightWrapper{width: 100%;margin: 0 auto;text-align:center;}
            .clientSayItem .leftWrapper{width: 66.67%;margin: 0 auto;float: none;}
            .clientSaySection .container-fluid{border: 1px solid #f5f5f5;}
            .clientSayList.slick-slider .slick-prev { bottom: 0px;left:10px;}
            .clientSayList.slick-slider .slick-next {bottom:0px;right: 10px;}
            .clientSayList{padding: 0px;}
            .clientRating{margin:20px 0px 20px 0px;}
            .clientName{margin: 0px;font-size: 1.6em;line-height: 25px;}
            .clientName .boldText{display: flex;justify-content: center;}
            .clientReview{margin:20px 24px 60px 23px;width: 84.33%;}
            .fa-heart{font-size: 1.8em;}
        /*----------------FooterSection------------------------------------------------*/
            .contactUsSection{margin: 0px;padding:0px;}
            .contactUsFormWrapper{margin: 0px 0px 40px 0px;}
            .inputHalfWidthSection{width:100%; float: left;padding-bottom: 10px;margin: 0px;}
            .inputHalfWidthSection:nth-child(2n-1){margin: 0px;}
            .footerLeftWrapper{width: 100%;}
            .footerRightWrapper-tab{display: block; width: 100%;float: left;margin-top: 40px;}
            .socialMediaIcons{width: 100%;}
            .formButtonHolder { width: 100%;margin-left: 0px;} 
       
}



